#wrapper {
    margin: auto;
    text-align: center;
    font-family: Verdana, sans-serif;
}

a:link,
a:visited {
    color: #00c;
}

h1 {
    font-size: 30px;
    margin: 26px 0;
    margin-bottom: 26px;
}

#sign-in,
#sign-up,
#main {
    display: none;
}

#sign-in,
#sign-up {
    margin-top: 30px;
}

#sign-in p,
#sign-up p {
    margin: 10px 0;
    font-size: 14px;
}

#main input[type=button] {
    margin-top: 14px;
    margin-bottom: 20px;
}

#board {
    margin: auto;
    border-collapse: collapse;
    background: #070;
    border-width: 0;
}

#board td {
    margin: 0;
    padding: 0;
    border: 3px solid #000;
    width: 48px;
    height: 48px;
    vertical-align: middle;
}

#board td > div {
    margin: 2px;
    padding: 0;
    width: 44px;
    height: 44px;
    border-radius: 22px;
    background: transparent;
    
    -webkit-transition-property: all;
       -moz-transition-property: all;
            transition-property: all;
    
    -webkit-transition-duration: 0.3s;
       -moz-transition-duration: 0.3s;
            transition-duration: 0.3s;
    
    -webkit-transition-delay: 0s;
       -moz-transition-delay: 0s;
            transition-delay: 0s;
    
    -webkit-transition-timing-function: ease-out;
       -moz-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
}

#board td > .black {
    background: #000;
}

#board td > .white {
    background: #fff;
}

#board td > .movable {
    margin: 13px;
    padding: 0;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #aaa;
    opacity: 0.7;
}

#board td:hover > .movable {
    background: #ddd;
}

#disc-count {
    margin: 8px auto;
}

#disc-count td {
    padding: 2px;
    vertical-align: middle;
}

#disc-count .disc > div {
    width: 16px;
    height: 16px;
    border: 2px solid #000;
    border-radius: 16px;
}

#disc-count .black .disc >  div {
    background: #000;
}

#disc-count .white .disc > div {
    background: #fff;
}

#disc-count .count:before {
    content: ": ";
}

#disc-count .current div {
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-left: 12px solid #888;
    border-right: 4px solid transparent;
    visibility: hidden;
}

#disc-count .current-color .current div {
    visibility: visible;
}

#message {
    margin-top: 12px;
    margin-bottom: 10px;
    font-size: 16px;
    
    -webkit-transition-property: all;
       -moz-transition-property: all;
            transition-property: all;
    -webkit-transition-duration: 0.3s;
       -moz-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-delay: 0s;
       -moz-transition-delay: 0s;
            transition-delay: 0s;
    -webkit-transition-timing-function: ease-out;
       -moz-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
}

#message.strong {
    color: red;
}

#log {
    width: 200px;
    height: 300px;
    padding: 0;
    position: absolute;
    right: 0px;
    top: 0;
    border-left: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    background: #f7f7f7;
    overflow: hidden;
}

#log input[type=text] {
    margin: 0;
    padding: 7px;
    border: none;
    border-top: 1px solid #ddd;
    outline: none;
    width: 100%;
    font-size: 13px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
}

#message-log {
    margin: 0;
    padding: 0;
    overflow: scroll;
    height: 269px /* 300px - 31px */;
}

@media screen and (max-width: 830px /* 430px + 200px + 200px */) {
    #log {
        height: 130px;
    }
    
    #message-log {
        height: 99px /* 130px - 31px */;
    }
}

#message-log div {
    margin: 0;
    padding: 5px 2px;
    text-align: left;
    font-size: 13px;
    border-bottom: 1px solid #ddd;
    background: #f5f6ff;
    
    -webkit-transition-property: all;
       -moz-transition-property: all;
            transition-property: all;
    
    -webkit-transition-duration: 0.7s;
       -moz-transition-duration: 0.7s;
            transition-duration: 0.7s;
    
    -webkit-transition-delay: 0s;
       -moz-transition-delay: 0s;
            transition-delay: 0s;
    
    -webkit-transition-timing-function: ease;
       -moz-transition-timing-function: ease;
            transition-timing-function: ease;
}

/*
#message-log div:nth-child(even) {
    background: #fff;
}

#message-log div:nth-child(odd) {
    background: #f5f5f5;
}
*/

#message-log .strong {
    background: yellow !important;
}


@media screen and (max-width: 480px) {
    h1 {
        margin: 12px 0;
        margin-bottom: 0;
        font-size: 20px;
    }
    
    #user-count {
        display: none;
    }
    
    #main input[type=button] {
        margin: 10px 0;
    }
    
    #board td {
        width: 36px;
        height: 36px;
        border-width: 2px;
    }
    
    #board td > div {
        margin: 2px;
        width: 32px;
        height: 32px;
        
        -webkit-transition-property: none;
           -moz-transition-property: none;
                transition-property: none;
    }
    
    #board td > .movable {
        margin: 10px;
        width: 14px;
        height: 14px;
    }
    
    #disc-count {
        margin: 6px auto;
    }
    
    #disc-count tr {
        display: inline-block;
    }
    
    #disc-count tr:nth-child(2) {
        margin-left: 10px;
    }
    
    #disc-count .disc > div {
        width: 14px;
        height: 14px;
        border-width: 1px;
        border-radius: 14px;
    }
    
    #message {
        margin-top: 6px;
    }
    
    #log {
        display: none !important;
    }
}
